main {
    background-color: var(--secondary-color);
}

section {
    padding: 1rem 1rem;
    text-align: center;
}

.alt-background {
    background-color: var(--background-color);
    box-shadow: inset 0rem 0.5rem 20px #00000033;

}


h1,
h2 {
    color: var(--brown-color);
}

.img-accueil {
    width: 100%;
    object-fit: cover;
}

.container-head {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.resize-img {
    max-width: 50%;
    margin: 0.5rem;
    border: 3px solid var(--brown-color);
    border-radius: 3rem;

}

.container-title-text {
    padding: 1rem;
    color: black;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-img {
    width: 320px;
    height: 220px;
    max-width: 35vh;
    max-height: 25vh;
    margin: 0.5rem 0.5rem 0 0.5rem;
    border: 3px solid var(--brown-color);
    border-radius: 3rem;

}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-img {
    width: 250px;
    height: 250px;
    border: 5px solid var(--brown-color);
    border-radius: 100%;
    margin: 0.5rem;
    object-fit: cover;
}

.card-review {
    text-align: center;
    background-color: var(--background-color);
    border: 2px solid var(--brown-color);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 0rem 0.5rem 9px #00000033;
}

.card-review h4 {
    margin: 0;

}

.card-review p {
    padding-top: 1rem;
}

.span-title-absolute {
    position: absolute;
    bottom: 8%;
    background-color: #00000093;
    padding: 0.5rem;
    text-align: center;
    color: var(--white-text-color);
    border-radius: 2rem;
}

.span-title-bottom {
    background-color: var(--yellow-color);
    border: 2px solid var(--primary-color);
    border-top: none;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0rem 0.5rem 9px #00000033;
}

.button-link {
    border: 2px solid var(--primary-color);
    color: var(--brown-color);
    background-color: var(--yellow-color);
    box-shadow: 0rem 0.5rem 7px #00000033;
    border-radius: 5rem;
    padding: 0.3rem;
    margin: 1rem;
}



@media (max-width: 760px) {
    .container-head {
        flex-direction: column-reverse;

    }

    .resize-img {
        max-width: 90%;
    }


}