.navigationDashboard {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media (max-width: 450px) {
    .navigationDashboard {
        flex-direction: column;
    }
}

.navigationDashboard li {
    list-style: none;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-color);
    color: var(--white-text-color);
    border-radius: 20px;
}

.navigationDashboard li a {
    color: var(--white-text-color);
}

/**/
.boardReport {
    display: flex;
}

.navReport {
    background-color: var(--primary-color);
    color: var(--white-text-color);
    height: 100vh;
}

@media (max-width: 450px) {
    .boardReport {
        flex-direction: column;
    }

    .navReport {
        height: auto;
    }
}

.navReport ul:first-child {
    padding: 0;

}

.navReport ul {
    list-style: none;
    padding-right: 1rem;
}

.navReport ul li {
    padding: 0.5rem;
}


.resultReport {
    background-color: white;
    width: 100%;
}

.selectionList {
    display: flex;
    justify-content: center;
}



.unselect,
.selected {
    border: 1px solid black;
    padding: 0.5rem;
    background-color: rgb(22, 178, 250);
    color: white;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.listReport {
    display: flex;
    flex-direction: column;
}

.containerReport {
    border: 3px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}

.headReport {
    display: flex;
    justify-content: space-between;
}

.dataReport {
    padding-left: 3rem;
}

@media (max-width: 450px) {
    .dataReport {
        padding-left: 0.5rem;
    }
}

.selected {
    background-color: rgb(29, 144, 197);
    box-shadow: inset 0px 0px 5px rgb(77, 73, 73);
}