.inputField,
.textareaField {
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
}

.containerLabelInput,
.containerLabelTextarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.containerLabelInput {
    width: 45%;
}


.inputRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;

}

@media (max-width: 760px) {
    .inputRow {
        flex-direction: column;
    }
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.containerInputs {
    width: 50%;
    padding: 1rem;

}

@media (max-width: 1020px) {
    .containerInputs {
        width: 100%;
    }
}

.errorInput {
    border-color: red;
}

.validInput {
    border-color: green;
}