body {

  margin: 0;
}





:root {
  --primary-color: #114232;
  --yellow-color: #FCDC2A;
  --white-text-color: #fff;
  --secondary-color: #B1D056;
  --brown-color: #5F3F23;
  --background-color: #F7F6BB;
}